.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* shared styles */
.btn-1{
    padding: 17px 24px;
    border-radius: 8px;
    color: rgba(13, 19, 33, 1);
    background-color: white;
    font-size: 20px;
}
.btn-3{
    height: 47px;
    width: 171px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 19, 33, 1);
    background-color: white;
}
/* header styles */
.header-title{
    display: flex;
    gap: 768px;
    margin: 38px 150px;
    justify-content: space-around;
    align-content: center;
}
.nav-title{
    font-weight: 800;
    font-size: 32px;
}
.nav-title-2{
    font-weight: 800;
    font-size: 24px;
}
.header-body{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.motto-title{
    color: rgba(13, 19, 33, 1);
    font-size: 48px;
    font-weight: 800;
}
.motto-description{
    padding: 24px 294px;
    width: 852px;
}
header button{
    background-color: rgba(13, 19, 33, 1);
    color: white;
    height: 65px;
    width: 244px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.first-body{
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 154px;
    font-weight: 200;
}
.first-body-section{
    display: flex;
    align-items: flex-start;
    padding: 48px 47px 32px 47px;
    box-shadow: 2px 2px 2px 2px rgba(173, 200, 247, 1, 10%);
}
.first-part-title{
    font-size: 24px;
    font-weight: 700;
    opacity: 0.7;
}
.section-1{
    box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 40%);
}
/* second box style */
.second-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin: 90px 150px; */
    border-color: black;
    box-shadow: 1px black;
}
.nav-description{
    color: rgba(13, 19, 33, 1);
    font-weight: 200;
    font-size: 16px;
}
.video-box iframe {
    margin-top: 48px;
    padding: 32px;
    border-color: black;
    border-radius: 50px;
}

/* third box */
.Link{
    color: rgba(13, 19, 33, 1);
    font-weight: bold;
}
.skill-section{
    display: flex;
    gap: 24px;
    margin-top: 48px;
}
.html-style{
    width: 364px;
    height: 299px;
    background-color:rgba(255, 76, 30, 0.05) ;
    padding: 24px;
    border-radius: 16px;
}
.css-style{
    width: 364px;
    height: 299px;
    background-color: rgba(0, 76, 232);
    padding: 24px;
    border-radius: 16px;
}
.js-style{
    width: 364px;
    height: 299px;
    background-color: rgba(255, 223, 0, 0.05);
    padding: 24px;
    border-radius: 16px;
}
.third-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.third-part-1{
    text-align: center;
    margin-top: 150px;
}
.third-part-2{
    text-align: center;
    margin-top: 111px;
}
.skill-section-2{
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    padding: 40px;
}
.description{
    text-align:start;
}
/* fourth body start */
.nav-title-3{
    font-weight: 800;
    font-size: 24px;
    color: white;
}
.fourth-body{
    width: 1140px;
    background-image:url("/assets/handshake.jpg");
    height: 313px; 
    background-size: 1140px 313px;
    background-repeat: no-repeat;
    margin-top:49px;
    border-radius: 16px;
}
.fourth-text{
    color: #FFFFFF;
    font-weight: 200;
    font-size: 16px;
    opacity: 0.7;
}
.fourth-section-1{
    text-align: center;
    padding: 64px 48px;
}
.fourth-section-2{
    display: flex;
    justify-content: space-around;
}
.fourth-section-2 input[type="text"]{
    height: 57px;
    width: 548px;
    background-color: white;
    color: rgba(13, 19, 33, 0.4);
    border-radius: 8px;
    font-size: 20px;
}
input[type="submit"]{
    width: 120px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
}
/* footer styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 38.5px 150px;
    margin-top: 80px;
    background-color: rgba(13, 19, 33, 0.03);
}
.nav-icons{
    display: flex;
    list-style: none;
    gap:24px;
}